.gradle/
.idea/
build/
**/build/
local.properties
*.iml
*.jks
*.keystore
*.hprof
captures/
.externalNativeBuild/
.cxx/
app/google-services.json
app/src/debug/google-services.json
app/src/release/google-services.json
firebase-debug.log
